<nav>
  <div class="wrapper">
    <div class="nav-logo-search-container">
      <img class="logo-img" src="https://github.com/NacarateJ/DishDash/blob/DishDash_Seeds/public/thumbnail_photo/DishDash.png?raw=true">
 
      <a href="/home" class="logo">DishDash</a>
        <% if(user) { %>
        <p class="display-email"><%= user %></p>
        <% } %>
    </div>
  </div>
</nav>
