
$font-family: 'Roboto', sans-serif;
$font-title: 'Caveat', cursive;
$font-color: #000;
 
header {
  
  background-image: url('https://github.com/NacarateJ/DishDash/tree/DishDash_Seeds/public/thumbnail_photo/DishDash.png');
  height: 10vh;
  background-size: cover;
  background-position: center;
  opacity: 1.0;
  display: flex;
  align-items: center;
  justify-content: center;
}  

h1 {
  font-family: $font-family;
  color: $font-color;
  font-size: 30rem;
}

#typewriter {
  font-family: $font-title;
  font-size: 05rem;
  color: black;
  img {
    padding-top: 100px;
  }
}

.home_page h2 {
  font-size: 4rem;
  color: $font-color;
  padding-top: 2rem;
  text-align: center;
}


.item_listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item_listing:hover {
  transform: scale(1.05);
}

main {
  padding: 2rem 0 4rem;
}

.item_listing {
  padding: 40px;
  padding-bottom: 20px;
  min-width: 35rem;
  width: 30%;
  margin: 2rem 1rem;
  max-height: 500px;
  background-color: #F7F7F7;
  border: 1px solid rgb(148, 145, 145);
  border-radius: 40px;
  .item_listing_header {
    position: relative;
    display: flex;
    justify-content: center;
    .heart {
      color: $font-color;
      position: absolute;
      top: 10%;
      left: 85%;
      transform: translate(-50%, -50%);
      z-index: 1;
      font-size: 35px;
    }
    .heart:hover {
      color: #A40808;
    }
    .img_container {
      width: 100%;
      height: 300px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10%;
      }
      .img_sold {
        opacity: 1.0;
      }
    }
  }
  .item_listing_middle {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    .item_price {
      color: black;
      font-size: x-large;
      letter-spacing: 0.2rem;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      padding-right: 0.4em;
      padding-left: 0.4em;
      background-color: #FAB005;
      border-radius: 10px;
      margin: 0.5em;
    }
  }
  .item_listing_footer {
    display: flex;
    flex-direction: row;
    .icons {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-right: 10px;
      color: $font-color;
    }
    h5,h6 {
      color: $font-color;
      font-family: $font-family;
    }
    h5 {
      font-size: x-large;
      margin: 0;
    }
    h6 {
      font-size: medium;
      margin: 0;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
} 